@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --index: calc(1vw + 1vh)
}
html {
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
.wrapper {
    background-color: white;
    margin: auto;
    position: relative;
    z-index: 0;
    font-family: 'Raleway', sans-serif;
}
.header_navbar {
    background-color: #000000;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 2;
}
.navbar, .navbar_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.navbar_menu li {
    width: 10vw;
    max-width: 114px;
}
.navbar a {
    height: 75px;
}
.navbar_menu li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.navbar_menu li:hover {
    background-color: #EC7979;
    transition: 0.5s;
}
.navbar_menu li:active {
    background-color: #AB4949;
}
.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}
.banner::before {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background-image: url(../img/image.svg);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}
.banner_content {
    max-width: 1170px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner_content h5 {
    margin: 1% 0 6% 0;
}
.banner_text {
    height: 100%;
    width: 57%;
    margin-right: 2%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}
.banner_content form {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    color: black;
}
span {
    color: #EC7979;
    margin: 2%;
}
form button {
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: #EC7979;
    color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}
.input_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 7% 18% 7%;
}
form h4 {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    width: 97%;
    margin: auto;
    margin-top: 50px;
}
.social_section {
    display: flex;
    justify-content: center;
    background-color: #F8EFEF;
}
.social_content {
    max-width: 1170px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}
.social_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.social_content h5 {
    color: #86878B;
}
.links {
    width: 57%;
    display: flex;
    justify-content: space-between;
}
.content_freedom {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #C6CBCD;
    border-top: none;
}
.article_freedom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 2.6% 0px 8.5%;
}
.price_section {
    background-color: #F5F5F5;
}
.price_section h2 {
    margin-top: 50px;
}
.price_section .container{
    margin-top: 0;
}
h1 {
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--index) *1.9);
    margin: 8% 0 9% 0;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: 42px;
    text-align: center;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40.85px;
    margin: 5% 0 5% 0;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 5%;
}
h5 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
}
.h5_under_line {
    color: #86878B;
}
.red_line {
    align-self: center;
    width: 170px;
    border-top: 1px solid #EC7979;
    margin-bottom: 40px;
}
.group_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 71px;
    margin-bottom: 50px;
}
.box {
    text-align: center;
    box-sizing: border-box;
    width: 32%;
    transition: 1s;
}
.box h4 {
    margin-bottom: 40px;
}
.tabs {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}
button {
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: 0.6s;
}
.tabs button {
    height: 40px;
    width: 17.1%;
    background-color: white;
    font-size: 14px;
}
.tabs button:hover:not(.tab_1){
    background-color: #C6CBCD;
}
.tab_1, .tabs button:active:not(.tab_1) {
    background-color: white;
    border: 1px solid #C6CBCD;
    border-bottom: none;
}
.tab_1, .tab_2, .tab_3 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.tab_2, .tab_3, .tab_4 {
    border-bottom: 1px solid #C6CBCD;
}
.tab_4 {
    flex-grow: 1;
}
.download_button {
    height: 58px;
    width: 48%;
    background-color: #EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 5% 0 5% 0;
}
.download_button:hover, 
.send_message_button:hover, 
form button:hover {
    background-color: #AB4949;
}
.download_button:active, 
.send_message_button:active, 
form button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.box_price div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
}
.box_price div:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
}
.box_price div:nth-child(2) {
    height: 100px;
    font-size: 36px;
    font-weight: 700;
}
.box_price div:nth-child(3) {
    height: 50px;
    color: #86878B;
}
ul {
    list-style-type: none;
}
.price_section li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    color: #86878B;
    font-size: 18px;
}
.price_section li:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #929292;
    transition: 0.6s;    
}
.price_section li:active {
    background-color: #F5F5F5;
    transform: scale(1.02);
}
.price_section .box:hover {
    align-self: flex-start;
    box-shadow: 0px 4px 10px #929292;
    transform: translateY(-30px);
    transition: 0.6s;
}
.customer {
    display: flex;
    margin-top: 66px;
}
.manager {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.manager h4 {
    margin-bottom: 10%;
}

.customer img {
    align-self: flex-start;
    margin-right: 30px;
}
.message {
    height: 180px;
    background-color: #E2E2E2;
    color: #86878B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    position: relative; 
}
.message::after {
    content: ''; 
    position: absolute;
    left: 75px; top: 180px;
    border: 15px solid transparent;
    border-top: 20px solid #E2E2E2; 
}
.axure {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}
.axure h2 {
    margin-top: 50px;
}
.axure::before {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background-image: url(../img/image_axure.svg);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}
.download_button_2 {
    margin: 5% 0 50px 0;
    height: 58px;
    width: 370px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.banner_text .download_button_2 {
    margin: 0;
    width: 40%;
}
.download_button_2:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}
.download_button_2:active {
    background-color: #AB4949;
    border: none;
    color: white;
}    
.white_line {
    align-self: center;
    width: 170px;
    border-top: 1px solid #FFFFFF;
    margin-bottom: 40px;
}
.banner_text .white_line {
    align-self: flex-start;
}
.h5_under_white_line {
    color: #FFFFFF;
}
.contact_us_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.input_contacts, .input_message {
    width: 49%;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input_message {    
    align-self: self-end;
}
input {
    font-size: 30px;
    height: 60px;
    border: transparent;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}
::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
textarea::placeholder {
    transform: translateY(10px);
}
input::placeholder {
    transform: translateY(-5px);
}
textarea {
    font-size: 30px;
    height: 100%;
    border: transparent;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    outline: none;
    padding-top: 10px;
}
.send_message_button {
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 50px 0;
}
.footer_links {
    height: 164px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
footer .links {
    width: 40%;
}
.copyright {
    color: #8d8d8d;
}
footer img {
    width: 53px;
    height: 53px;
}
.links img:hover,
.navbar>a:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 15px #EC7979);
    transition: 0.6s;
}

@media (max-width: 1024px) {

    h2 {
        font-size: 24px;
        height: 120px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
        line-height: 24.51px;
    }
    h5 {
        font-size: 14px;
        line-height: 16.44px;
    }
    .banner_text {
        margin-left: 7%;
    }
    .banner_text img {
        width: 20vw;
    }
    .white_line {
        width: 142px;
        margin-bottom: 31px;
    }
    .red_line {
        width: 142px;
        margin-bottom: 32px;
    }
    .social_content img {
        width: 64px;
    }
    .content_freedom img {
        width: 398px;
        height: auto;
    }
    .group_box {
        margin-top: 32px;
    }
    .axure .download_button_2, .send_message_button {
        width: 318px;
    }
    footer img {
        width: 45px;
        height: 45px;
    }
        /* h2 {
        font-weight: 700;
    } */

}
@media (max-width: 800px) {

    .container {
        width: 90%;
        margin-top: 0;
    }
    h1 {
        font-size: 36px;
        text-align: center;
        margin: 0;
    }
    h2 {
        font-size: 24px;
        line-height: 28.18px;
        height: 120px;
    }
    h3 {
        font-size: 18px;
        line-height: 24.51px;
        margin-bottom: 20px;
    }
    h4, h5 {
        font-size: 14px;
        line-height: 16.44px;
        margin-bottom: 0;
    }
    .banner {
        height: 155vh;
        align-items: flex-start;
    }
    .banner_text {
        width: 100%;
        margin: 50% 0 20% 0;
        justify-content: center;
        align-items: center;
    }
    .banner_content {
        width: 90vw;
    }
    /* .input_form {
        margin: 15px 50px 75px 50px;
    }     */
    .group_box {
        margin-top: 0;
    }
    .navbar_menu, .content_freedom img, header, .banner_text img {
        display: none;
    }
    .social_content, .banner_content, .group_box, .input_section {
        flex-direction: column;
    }
    .social_content img,  footer img {
        width: 28px;
        height: 28px;
    }
    .banner_content form, .box, .download_button_2, .send_message_button, .download_button, footer .links, .input_section form {
        width: 100%;
    }
    .download_button, .download_button_2 {
        height: 50px;
    }
    .banner_text .download_button_2 {
        width: 288px;
        margin-top: 42px;
    }
    .axure .download_button_2 {
        width: 287px;
        margin-top: 66px;
    }
    .box {
        margin-top: 8%;
    }
    .article_freedom {
        margin: 5%;
        text-align: center;
    }
    .tabs button {
        width: calc(100%/3);
    }
    .tab_4 {
        width: 0;
    }
    .h5_under_line, .h5_under_white_line {
        text-align: center;
    }
    .axure {
        padding: 0 17px;
    }
    .container h2, .axure h2 {
        margin-top: 0;
    }
    .white_line {
        width: 134px;
        margin-bottom: 16px;
        align-self: center;
    }
    .banner_text .white_line {
        align-self: center;
        margin: 43px 0 42px 0;
    }    
    .input_message {
        margin-top: 40px;
    }
    footer .links {
        justify-content: space-evenly;
    }
}