* {
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
body {
    background-color: white;
    width: 1510px;
    margin: auto;
    position: relative;
    z-index: -2;
    font-family: raleway;
}
header {
    background-color: #000000;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 2;
}
.navbar, .navbar_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.navbar_menu li {
    width: 114px;
}
.navbar_menu li a {
    display: block;
    padding: 30px 30px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.navbar_menu li:hover {
    background-color: #EC7979;
    transition: 0.5s;
}
.navbar_menu li:active {
    background-color: #AB4949;
}
.banner {
    height: 1026px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}
.banner::before {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background-image: url(../img/image_axit.png);
    filter: brightness(50%);
}
.banner_content {
    height: 600px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner_text {
    height: 100%;
    width: 670px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}
.banner_content form {
    height: 450px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    color: black;
}
span {
    color: #EC7979;
    margin: 7px;
}
form button {
    height: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: #EC7979;
    color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}
.input_form {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px 50px 50px;
}
form h4 {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: raleway;
    width: 1170px;
    margin: auto;
}
.social_section {
    height: 140px;
    display: flex;
    justify-content: center;
    background-color: #F8EFEF;
}
.social_content {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social_text {
    width: 470px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.social_content h5 {
    color: #86878B;
}
.banner_content h5 {
    margin: 20px 0 20px 0;
}
.content_freedom {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 501px;
    border: 1px solid #C6CBCD;
    border-top: none;
}
.article_freedom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 30px 0px 100px;
}
.price_section {
    width: 1508px;
    background-color: #F5F5F5;
}
h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    margin: 30px 0 30px 0;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 50px 0 0 0;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: 42px;
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40.85px;
}
h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
h5 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
}
.h5_under_line {
    color: #86878B;
}
.red_line {
    align-self: center;
    width: 170px;
    border-top: 1px solid #EC7979;
    margin-bottom: 40px;
}
.group_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 50px;
}
.box {
    text-align: center;
    box-sizing: border-box;
    width: 370px;
    transition: 1s;
}
.box h4 {
    margin-bottom: 40px;
}
.tabs {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: 99px;
}
button {
    border: none;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s;
}
.tabs button {
    height: 40px;
    width: 200px;
    background-color: white;
}
.tabs button:hover:not(.tab_1){
    background-color: #C6CBCD;
}
.tab_1, .tabs button:active:not(.tab_1) {
    background-color: white;
    border: 1px solid #C6CBCD;
    border-bottom: none;
}
.tab_1, .tab_2, .tab_3 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.tab_2, .tab_3, .tab_4 {
    border-bottom: 1px solid #C6CBCD;
}
.tab_4 {
    flex-grow: 1;
}
.download_button {
    height: 58px;
    width: 270px;
    background-color: #EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.download_button:hover, 
.send_message_button:hover, 
form button:hover {
    background-color: #AB4949;
}
.download_button:active, 
.send_message_button:active, 
form button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.box_price div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
}
.box_price div:first-child {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
}
.box_price div:nth-child(2) {
    height: 100px;
    font-size: 36px;
    font-weight: 700;
}
.box_price div:nth-child(3) {
    height: 50px;
    color: #86878B;
}
ul {
    list-style-type: none;
}
.price_section li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    color: #86878B;
    font-size: 18px;
}
.price_section li:hover {
    cursor: pointer;
    transform: scale(1.05);
    font-size: 20px;
    box-shadow: 0px 0px 10px #929292;
    transition: 0.6s;    
}
.price_section li:active {
    background-color: #F5F5F5;
    transform: scale(1.02);
}
.price_section .box:hover {
    align-self: flex-start;
    box-shadow: 0px 4px 10px #929292;
    transform: translateY(-30px);
    transition: 0.6s;
}
.customer {
    display: flex;
    margin-top: 66px;
}
.manager {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.customer img {
    align-self: flex-start;
    margin-right: 30px;
}
.message {
    height: 180px;
    background-color: #E2E2E2;
    color: #86878B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    position: relative; 
}
.message::after {
    content: ''; 
    position: absolute;
    left: 75px; top: 180px;
    border: 15px solid transparent;
    border-top: 20px solid #E2E2E2; 
}
.axure {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}
.axure::before {
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background-image: url(../img/image_stylish.png);
    filter: brightness(50%);
}
.download_button_2 {
    margin: 73px 0 50px 0;
    height: 58px;
    width: 270px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.banner_text .download_button_2 {
    margin: 0;
}
.download_button_2:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}
.download_button_2:active {
    background-color: #AB4949;
    border: none;
    color: white;
}    
.white_line {
    align-self: center;
    width: 170px;
    border-top: 1px solid #FFFFFF;
}
.banner_text .white_line {
    align-self: flex-start;
}
.h5_under_white_line {
    margin-top: 40px;
    color: #FFFFFF;
}
.contact_us_section {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.input_contacts, .input_message {
    width: 570px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input_message {    
    align-self: self-end;
}
input {
    font-size: 30px;
    height: 60px;
    border: transparent;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}
::placeholder {
    color: #BDBDBD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
textarea::placeholder {
    transform: translateY(24px);
}
textarea {
    font-size: 30px;
    width: 570px;
    height: 100%;
    border: transparent;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    outline: none;
}
.send_message_button {
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 50px 0;
}
footer {
    height: 164px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.links {
    width: 670px;
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: #8d8d8d;
}
footer img {
    width: 53px;
    height: 53px;
}
.links img:hover,
.navbar>a:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 15px #EC7979);
    transition: 0.6s;
}